.title__fz18 {
    color: $color-lt_text;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;

}

.title__fz24 {
    color: #000;
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
}

.title__fz30 {
    color: #000;
    font-size: 30px;
    font-weight: 300;
    line-height: normal;
}