@import 'libs/bootstrap-reboot.min';

@font-face {
    font-family: 'DIN_Pro';
    src: url('../fonts/dinpro.otf') format('otf');
    font-weight: normal;
    font-style: sans-serif;
}

@font-face {
    font-family: 'DIN_Pro';
    src: url('../fonts/dinpro_bold.otf') format('otf');
    font-weight: bold;
    font-style: sans-serif;
}

* {
    font-family: 'DIN_Pro', sans-serif;
    margin: 0;
    padding: 0;
}
