.menu {
    position: relative;
    width: 1170px;
    height: 100%;
    padding-bottom: 50px;
    margin-left: 0px;
    background-color: $color-bgd;
    &__tabs {
        list-style-type: none;
        display: flex; 
        
        margin-left: 90px;  
    }
    &__tab {
        margin-right: 30px;
        cursor: pointer;
        transition: 0.5s all;
        border-radius: 10px;
        &-active {
            background-color: $color-btn-dark;
        }
        &:hover {
            box-shadow: 3px 3px 20px $color-btn-dark;
            color: $color-lt_text;

            
        }
    }
    &__content {
        display: none;
        &_active {
            display: contents;
            }
        &__wrapper {
            align-items: center;
            background-color: white;
            height: 430px;
            width: 290px;
            margin: 20px;
            img {
                margin: 5px 15px;
            }
            &__title, &__descr {
                margin-top: 30px;
            }
            .divider {
                width: 100%;
            }
            &__inside {
                display: none;
            }
            &__footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 10px 15px;
                padding-bottom: 10px;
                &__price {
                    font-weight: bold;
                }
            }    
        }
      
    }
    &__details {
       &__content {
        background-color: #fff;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        row-gap: 10px;
        column-gap: 40px;
        
        
        
        img:nth-child(1) {
           
            grid-column: 1;
            grid-row: 1 / 5;
            height: 400px;
            justify-self: center;

        }
        div:nth-child(2) {
           
            grid-column: 2;
            grid-row: 1 / 2;
            justify-self: center;
            font-size: 48px;
            font-weight: bold;
            margin-left: 15px;
           
        }
        div:nth-child(3) {
          
            grid-column: 2;
            grid-row: 2 / 3;
            justify-self: start;
            margin-left: 15px;
           
        }
        div:nth-child(4) {
         
            display: none;
           
           
        }
        div:nth-child(5) {
         
            display: block;
            grid-column: 2;
            grid-row: 3 / 4;
            justify-self: start;
            margin-left: 15px;


           
        }
        div:nth-child(6) {
          
            grid-column: 2;
            grid-row: 4 / 5;
            justify-self: space-between;
           
        }
       
     
       }
    }
}
#menu__details {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-evenly;
}