.btn {
    background-color: $color-btn-dark;
    color: white;
    border: none;
    border-radius: 10px;
    &__light {
        background-color: $color-btn;
    }
    &__card {
        width: 143px;
        height: 40px;
        color: white;
    }
}
