.order {
    width: 1170px;
    margin-left: 320px;
    padding: 50px 80px 50px 90px;
    background-color: $color-bgd;
    &__descr {
        color: $color-lt_text;
        &__expand {
            display: none;
        }
        &__active {
            display: block;
            left: 50%;
            
        }
        &__expanded {
            display: block;
        }
    }
    &__title {
        font-weight: bold;
    }
    ul li {
        margin-left: 30px;
    }
    

}